<div class="container mt-3">
    <div class="">
        <form role="search" class="searchDiv">
            <input matInput class="form-control me-2" type="search" (keyup)="FilterChange($event)" placeholder="Search"
                aria-label="Search" />
        </form>
        <div class="mat-elevation-z8" class="tableWidth">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender"> Gender
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <!-- mobile Column -->
                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <!-- class Column -->
                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by class"> Class
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.class}} </td>
                </ng-container>

                <!-- semister Column -->
                <ng-container matColumnDef="semister">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by semister">
                        Semister </th>
                    <td mat-cell *matCellDef="let element"> {{element.semister}} </td>
                </ng-container>

                <!-- rollnumber Column -->
                <ng-container matColumnDef="rollnumber">
                    <th mat-header-cell *matHeaderCellDef> Roll Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.rollnumber}} </td>
                </ng-container>

                <!-- college Column -->
                <ng-container matColumnDef="college">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by college">
                        College </th>
                    <td mat-cell *matCellDef="let element"> {{element.college}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-outline-success" (click)="edit(element.id)">Edit</button>
                        <button class="btn btn-outline-danger mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setSelectedItem(element.id)">Delete</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="mt-3">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Student</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure to delete this student?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteItem()">Delete</button>
            </div>
          </div>
        </div>
      </div>