<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="">
        <form [formGroup]="loginData">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" formControlName="email">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="password">
            </mat-form-field>
            <br/>
            <button type="button" class="btn btn-primary" routerLink="/register">Register here</button>
            <button type="button" class="btn btn-success mx-3" (click)="getData()">Login</button>
        </form>
    </div>
</div>
