<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="">Crud Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <form class="d-flex" role="search">   
          <button class="btn btn-primary" routerLink="addStudent">Add Student</button>
          <button class="btn btn-primary mx-2" type="submit" (click)="logout()">Logout</button>
        </form>
      </div>
    </div>
  </nav>